@model DarkLot.ViewModeles.ClanViewModel.AddMemberViewModel

@{
    ViewData["Title"] = "Dodaj członka";
}

<h1>Dodaj członka do klanu</h1>

<form asp-action="AddMember" method="post" class="mb-5">
    <input type="hidden" asp-for="ClanId" />

    <div class="form-group">
        <label asp-for="Nickname"></label>
        <input asp-for="Nickname" class="form-control" placeholder="Wpisz nick użytkownika" />
        <span asp-validation-for="Nickname" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-end mt-4">
        <button type="submit" class="btn btn-primary me-2">
            <i class="material-icons align-middle">person_add</i>
            <span class="visually-hidden">Dodaj</span>
        </button>
        <a asp-action="Members" asp-route-id="@Model.ClanId"
           class="btn btn-secondary">
            <i class="material-icons align-middle">close</i>
            <span class="visually-hidden">Anuluj</span>
        </a>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
