.loot-row {
    background: #23272e;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
}

    .loot-row .loot-items img {
        width: 36px;
        height: 36px;
        margin-right: 4px;
    }

    .loot-row .loot-users img {
        width: 32px;
        height: 32px;
    }

    .loot-row .loot-users .number {
        position: absolute;
        bottom: 0;
        right: 2px;
        font-size: 0.8em;
        color: #9ad0ff;
    }
