.container.battle-details {
    max-width: 900px;
    margin: 0 auto;
    color: #eee;
    font-family: Arial, sans-serif;
}
#log-container {
    box-shadow: 0px 0px 34px 8px rgba(0, 32, 255, 1);
    border-radius: 10px;
    padding: 5px;
}
.card {
    border: 1px solid #444;
    border-radius: 6px;
    padding: 6px;
    margin: 6px 0;
}

.card-gray {
    background: #555;
}

.card-skill {
    background: #333;
}

.card-attack.team-1-bg {
    background: rgba(3,218,3,0.2);
}

.card-attack.team-2-bg {
    background: rgba(218,3,3,0.2);
}

.card-heal {
    background: rgba(27,45,77,0.5);
}

.card-step.team-1-bg {
    background: rgba(3,218,3,0.2);
}

.card-step.team-2-bg {
    background: rgba(218,3,3,0.2);
}

p.log-line {
    margin: 0.2rem 0;
    font-family: monospace;
}

p.log-txt {
    font-style: italic;
    margin: 0.2rem 0;
}

p.effect-crit {
    color: orange;
    margin: .1rem 0;
}

p.effect-vcrit {
    color: gold;
    margin: .1rem 0;
}

p.effect-wound {
    color: red;
    margin: .1rem 0;
}

p.effect-pierce {
    color: yellow;
    margin: .1rem 0;
}

p.effect-dmg {
    color: white;
    margin: .1rem 0;
}

p.effect-block {
    color: gray;
    margin: .1rem 0;
}

/* Drużyny */
.team-green {
    color: #03da03;
}

.team-red {
    color: #da0303;
}

/* BattleStart/Honor */
.battle-start, .honor {
    padding: 6px;
    margin: 4px 0;
    border-radius: 4px;
    background: #777;
    font-weight: bold;
}

.fastarrow{
    color: dodgerblue;
    margin-bottom: 0rem !important;
}

.legbon_critred {
    font-weight: bold;
    font-style: italic;
    color: mediumpurple;
    margin-bottom: 0rem !important;
}

.legbon_cleanse {
    font-weight: bold;
    font-style: italic;
    color: #932ad4;
    margin-bottom: 0rem !important;
}

.legbon_facade {
    font-weight: bold;
    font-style: italic;
    color: #932ad4;
    margin-bottom: 0rem !important;
}

.legbon_curse {
    font-weight: bold;
    font-style: italic;
    color: greenyellow;
    margin-bottom: 0rem !important;
}

.legbon_glare {
    font-weight: bold;
    font-style: italic;
    color: aqua;
    margin-bottom: 0rem !important;
}

.poison {
    color: lightgreen;
}

.card-poison {
    background: rgba(27,45,77,0.5);
}

.fire{
    color: red;
}

.frozen{
    color: dodgerblue;
}

.blysk{
    color: yellow;
}

.effect-energy-destroy{
    color: yellowgreen;
}

.effect-attack-boost {
    color: yellowgreen;
}