<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DarkLot</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DarkLot.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="main-content">
        <nav class="sidebar d-flex flex-column">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                DarkLot
            </a>
            <ul class="nav flex-column mb-3">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <span class="material-icons" style="vertical-align: middle;">home</span>
                        Lootlog
                    </a>
                </li>
                @* <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                        <span class="material-icons" style="vertical-align: middle;">privacy_tip</span>
                        Privacy
                    </a>
                </li> *@
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">
                            <span class="material-icons" style="vertical-align: middle;">group</span>
                            Użytkownicy
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Roles" asp-action="Index">
                            <span class="material-icons" style="vertical-align: middle;">admin_panel_settings</span>
                            Uprawnienia
                        </a>
                    </li>
                }
            </ul>
            <div class="mt-auto">
                <partial name="_LoginPartial" />
            </div>
        </nav>
        <div class="main-body w-100">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/@@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
